a.svelte-1cft1mz{display:block;--tw-text-opacity:1;color:rgba(0, 0, 0, var(--tw-text-opacity));text-decoration:none}.text-link.svelte-1cft1mz{display:block;float:left;padding-left:0.5rem;padding-right:0.5rem;padding-top:1rem;padding-bottom:1rem}
body{overflow-y:scroll}
h1.svelte-gtea8l,p.svelte-gtea8l{margin:0 auto}h1.svelte-gtea8l{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-gtea8l{margin:1em auto}@media(min-width: 480px){h1.svelte-gtea8l{font-size:4em}}
